.container{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 17px;
grid-row-gap: 17px;
    
    

    .UserCart{
      margin: 0 auto;
      

        img{
            width: 270px;
            height: 350px;

        }
    }
}