
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,600&display=swap');

$-dark-theme-color: #161b22;
$second-color:#645cff ;
$white-theme-color: #F8F8F8;

.container{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 17px;
grid-row-gap: 17px;
    
    

    .UserCart{
      margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 20px;
      text-align: center;
      padding: 0 auto;
      width: 60%;


        img{
            width: 100%;
            height: 350px;
            margin: 0 auto;
             border-radius: 20px;

        }
        &:hover{
               box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  
    
        }
    }
}

@keyframes #{HoverMove}{
    0%{  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
    100%{box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}
}
